.forgot {
  width: 100%;
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 480px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  &__header {
    padding: 20px 30px;
    font-size: 2rem;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.75);
  }

  &__form {
    padding: 0 30px 20px;
  }

  &__section {

    & + & {
      margin-top: 20px;
    }
  }

  &__caution {
    font-size: 1.3rem;
    line-height: 1.5em;
    color: rgba(0, 0, 0, 0.75);
  }

  &__field {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 1.5rem;
    outline: none;
    transition: .1s;
    color: rgba(0, 0, 0, 0.75);

    &:focus {
      border-color: #ccc;
    }
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: rgba(78, 159, 213, 1);
    color: #fff;
    cursor: pointer;
    transition: .1s;

    &:hover {
      background-color: rgba(78, 159, 213, 0.6);
    }

    &[disabled] {
      background-color: rgba(78, 159, 213, 0.6);
    }
  }
}
