.tooltip {
  display: inline-block;
  position: relative;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__icon:hover ~ &__popup {
    display: block;
    animation: fadeIn 0.1s linear 0s forwards;
  }

  &__popup {
    display: none;
    width: 15em;
    padding: 10px;
    line-height: 1.2em;
    border-radius: 3px;
    background-color: #424242;
    position: absolute;
    top: -15px;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -100%);

    &:before {
      content: '';
      border-top: 10px solid #424242;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 10;
      transform: translate(-50%, 100%);
    }
  }

  &__title {
    font-size: 1.1rem;
    font-weight: bolder;
    text-align: center;
    color: #fff;
  }
}
